<% provide(:title, 'Sign Up') %>

<h1 class="default-height">Sign Up</h1>

<%= form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control"%>

  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

<% end %>
