<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Gems Sound</h1>

  <!-- カルーセル -->
  <div id="video-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">

    <!-- 何枚目かの画像かを表すインディケーター -->
    <ol class="carousel-indicators">
      <li data-target="#video-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#video-carousel" data-slide-to="1" class=""></li>
      <li data-target="#video-carousel" data-slide-to="2" class=""></li>
    </ol>

    <!-- 実際の画像の表示処理 -->
    <div class="carousel-inner">
      <div class="item active">    <!-- activeをつけたものがページ表示時に表示される -->
        <%= render 'iframe/shuffle_video' %>
      </div>
      <div class="item">
        <%= render 'iframe/shuffle_video' %>
      </div>
      <div class="item">
        <%= render 'iframe/shuffle_video' %>
      </div>
    </div>

    <!-- 前の画像へ戻るための矢印ポインタ -->
    <a class="left carousel-control" href="#video-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <!-- 次の画像へ進むための矢印ポインタ -->
    <a class="right carousel-control" href="#video-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  </div>


<div class="category">
  <div class="pickup">
    <h3 class="container bg-primary" >ピックアップ動画</h3><!--bootstrapのbg-xxxで背景色が変更-->
    <div class="video-lists">
    サムネイルを作成して、サムネイルをクリックするとshowページへ飛ぶ様にしたい(実装予定)</br>
    動画、サムネイルで動作が重くなるので、その対策。(実装予定)</br>
    </div>
  </div>

  <div class="cate1">
    <h3 class="container bg-success">ロック</h3>
      <div class="video-lists">
        <%= render 'iframe/iframe_image' %>
      </div>
  </div>

  <div class="cate2">
    <h3 class="container bg-danger">ギターロック</h3>
    <div class="video-lists">
      <% if @category === 2 %>
      <%= render 'iframe/iframe_image' %>
      <% end %>
    </div>
  </div>

  <div class="cate3">
    <h3 class="container bg-primary">ポストロック</h3>
    <div class="video-lists">
      <%= render 'iframe/iframe_image' %>
    </div>
  </div>

  <div class="cate4">
    <h3 class="container bg-danger">プログレ</h3>
    <div class="video-lists">
      <%= render 'iframe/iframe_image' %>
    </div>
  </div>

  <div class="cate5">
    <h3 class="container bg-primary">エモーショナル</h3>
    <div class="video-lists">
      <%= render 'iframe/iframe_image' %>
    </div>
  </div>
</div>

<ul>
  <% if @category %>
  <% @video.each do |video| %>
    <div class="categories">
    <li><%=link_to video.music_name, video_path(video.id) %></li>
    <li><%=link_to video.artist_name, video_path(video.id)%></li>
      </div>
  <% end %>
  <% end %>
</ul>
