<div class="row">
  <div class="show-container">

    <h1><%= link_to("ホーム", root_path ) %>
      /
    <%= @video.artist_name %></h1>
    <h2>アーティスト：<%= @video.artist_name %></h2>
    <h2>ミュージック：<%= @video.music_name %></h2>

    <div class="nav">
    <div class="show-iframe center">

      <% iframe = content_tag(
        :iframe,
        '', # empty body
        width: 420,
        height: 315,
        src: "https://www.youtube.com/embed/#{@video.youtube_id}",
        rel: 0,
        frameborder: 4,
        allowfullscreen: true
        ) %>
        <!--↓のコードで動画のフレームを表示している-->
        <%= content_tag(:div, iframe, class: 'youtube-container') %>

        <!--サムネイル取得方法 <img src="http://img.youtube.com/vi/hTWKbfoikeg/0.jpg" alt="alt here..." /> -->

        <h1><%=link_to @video.artist_name + 'の曲',"#" %></h1>
        <div class="btn btn-primary">
          <%= link_to "お気に入り", favorites_video_path(@video), method: :post %>
        </div>
      </br>#アーティスト毎のYoutube動画を収集したページを追加予定


        #登録したユーザーのみコメントを書き込めるように実装する

      </div>
      <!--コメント一覧フォーム-->
      <div class="center">
        <%= field_set_tag 'コメント欄' do %>
        <% end %>
      </div>
      <div class="comments">
        <%= render 'layouts/comment_form' %>
        <%= render 'layouts/comments_body' %>
      </div>
  </div>
</div>


</div>
