<% @categories.each_with_index do |category, i| %>
<div class="cate<%= ++i %>">
  <h3 class="container cate-title<%= ++i %> bg-danger">
    <%= link_to "#{category.name}", category_path(category.id) %>
  </h3>
</div>
  <div id="vc-carousel<%= ++i %>" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
      <li data-target="#vc-carousel<%= ++i %>" data-slide-to="0" class="active"></li>
      <li data-target="#vc-carousel<%= ++i %>" data-slide-to="1" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= render 'iframe/iframe_image', videos: category.videos.limit(10) %>
      </div>
      <div class="item">
        <%= render 'iframe/iframe_image', videos: category.videos.limit(10) %>
      </div>
    </div>
    <a class="right carousel-control" href="#vc-carousel<%= ++i %>" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
<% end %>
