<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
      <%= link_to "gems sound", root_path, id: "logo" %>
      <div class="row">
        <div class="col-md-6">
          <div class="container">
            <form class="form-inline">
            <%= text_field_tag :search, "", class: "form-control", size: 6*5 %><!--あとで検索するparamsを与える-->
            <%= submit_tag "音楽検索"%>
            </form>
          </div>

          <%= link_to "全ユーザー", users_path %>
        <!--ログインしている場合-->
          <% if user_signed_in? %>
          <strong><%= link_to current_user.username, current_user %></strong>
          <%= link_to "プロフィール", edit_user_registration_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <!--ログインしていない場合-->
        <% else %>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to 'sign up', new_user_registration_path %>
        <% end %>
        </div>

      </div>



      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "ピックアップ", '#' %></li>
          <li><%= link_to "ランキング", '#' %></li>
          <li> <% @categories.each do |category| %> </li>
             <li><%= link_to "#{category.name}", "categories/#{category.id}" %></li>
          <% end %>
        </ul>
      </nav>
  </div>

</header>
